@charset "UTF-8";

@font-face{font-family: font; src: url(../font/Nicolas\ Cochin\ EF\ Regular.ttf);}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

a{
  font-family:font; src: url(./font/Nicolas\ Cochin\ EF\ Regular.ttf);
  text-decoration: none;
  display: block;
  color: #fff;
  width: 200px;
  height: 55px;
  z-index: 10;
  font-size: 23px;
}

img{display: block;}

li{list-style: none;}

body{background: black;}

.hidden{display: none;}

